.root{
    -fx-background-image: url("/images/TetsawImage.jpg");
    -fx-font: 11pt "Arial";
    -fx-font-weight: BOLD;
    -fx-text-alignment: center;
    -fx-text-fill: #363738;
    -fx-text-inner-color: #363738;
    -fx-fill: #363738;
}